@import "functions";

.short-form {
    margin-top: 10%;
    .short-url {
        @include border-radius(5px, 0, 0, 5px);
        background: {
            color: transparent;
        }
        border: 1px solid white;
        border-right: 0;
        height: 40px;
    }
    .short-btn {
        @include border-radius(0, 5px, 5px, 0);
        background: {
            color: transparent;
        }
        color: green;
        border: 1px solid white;
        height: 40px;
    }
}